body[data-theme="light"] {
  --color-1: white;
  --color-2: black;
  --color-3: #3aaf9f;
  --color-4: #eee; /* input field background */
}

body[data-theme="dark"] {
  --color-1: #bb86fc;
  --color-2: white;
  --color-3: black;
  --color-4: rgb(214, 211, 211);
}

body {
  background-color: var(--color-3);
}

.registration {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
  align-items: center;
  border-radius: 35px;
  background-color: var(--color-1);
  padding-bottom: 60px;
}

.registration h1 {
  color: var(--color-3);
  font-size: 34px;
}

.registration form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.registration form input {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  background-color: var(--color-4);
  color: black;
  font-weight: 500;
  border: none;
}

.registration form button {
  font-size: 24px;
  width: 60%;
  margin: 20px auto 0;
  border-radius: 25px;
  padding: 7px;
  color: var(--color-1);
  background-color: var(--color-3);
  border: 2px solid transparent;
}

.registration form button:hover {
  background-color: white;
  color: var(--color-3);
  border: 2px solid var(--color-3);
}

.registration .login {
  margin-top: 5px;
  font-size: 18px;
  color: var(--color-2);
}

.registration .login a {
  color: var(--color-3);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1d2120;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1d2120;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #1d2120;
}

.hide {
  display: none;
}

.error {
  color: red;
  margin-top: 5px;
  margin-left: 10px;
}

.theme-switcher {
  position: absolute;
  right: 30px;
  top: 10px;
}

.theme-switcher input {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

.theme-switcher label {
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s ease background-color;
}

.theme-switcher label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgb(46, 42, 68);
  transition: 0.5s ease;
}

.theme-switcher input:checked + label::after {
  left: calc(100% - 25px);
  background-color: aliceblue;
}

.theme-switcher input:checked + label {
  background-color: rgb(25, 26, 37);
  border: 2px solid whitesmoke;
}

@media (max-width: 930px) {
  .registration {
    width: 400px;
    margin: 70px auto;
    padding-bottom: 30px;
  }

  .registration h1 {
    font-size: 24px;
  }

  .registration form input {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px;
  }

  .registration form button {
    font-size: 18px;
    width: 60%;
    margin: 10px auto 0;
    padding: 5px;
  }

  .registration .login {
    font-size: 14px;
  }

  .error {
    font-size: 12px;
  }

  .theme-switcher {
    right: 10px;
    top: 5px;
  }

  .theme-switcher label {
    height: 20px;
    width: 40px;
  }

  .theme-switcher label::after {
    width: 15px;
    height: 15px;
  }

  .theme-switcher input:checked + label::after {
    left: calc(100% - 20px);
  }
}
